/* styles.css */
body, html {
    height: 100%; /* 전체 화면 높이 설정 */
    margin: 0; /* 마진 제거 */
  }
  
  .main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; /* 화면 높이의 100%로 설정 */
  }
  
  .section {
    width: 20%; /* 각 구역의 너비 조절 가능 */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff; /* 각 구역의 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .section:hover {
    transform: translateY(-5px); /* 마우스 호버 시 약간 들어올리는 효과 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  }
  
  .section-1 {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
     rgba(240, 46, 170, 0.3) -10px 10px,
      rgba(240, 46, 170, 0.2) -15px 15px,
       rgba(240, 46, 170, 0.1) -20px 20px,
        rgba(240, 46, 170, 0.05) -25px 25px;
  }
  
  .section-2 {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px,
     rgba(240, 46, 170, 0.2) -15px 15px,
      rgba(240, 46, 170, 0.1) -20px 20px,
       rgba(240, 46, 170, 0.05) -25px 25px;
  }
  
  .section-3 {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px,
     rgba(240, 46, 170, 0.2) -15px 15px,
      rgba(240, 46, 170, 0.1) -20px 20px,
       rgba(240, 46, 170, 0.05) -25px 25px;
  }
  
  .section-4 {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px,
     rgba(240, 46, 170, 0.2) -15px 15px,
      rgba(240, 46, 170, 0.1) -20px 20px,
       rgba(240, 46, 170, 0.05) -25px 25px;
  }
  